<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Módulo 05: Tarjetas</title>

    <link rel="stylesheet" href="/CSS/main.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />
  </head>
  <body>
    <header id="main-header">
      <h1>
        <a href="/index.html" style="text-decoration: none; color: white"
          >Web UI Kit</a
        >
      </h1>
      <nav>
        <a href="/index.html">Volver a Inicio</a>
      </nav>
    </header>

    <main id="main-content">
      <section class="hero-section">
        <h2>Módulo 05: Tarjetas (Cards)</h2>
        <p>
          Contenedores flexibles para agrupar contenido relacionado, incluyendo
          textos, imágenes y botones de acción, utilizados en listados y
          dashboards.
        </p>
      </section>

      <div class="grid-container">
        <a href="card-01-base/index.html" class="category-card">
          <h4>01. Tarjeta Base</h4>
          <p>
            Diseño fundamental de tarjetas con título, cuerpo y acciones
            opcionales.
          </p>
        </a>

        <a href="card-02-media/index.html" class="category-card">
          <h4>02. Tarjeta con Media</h4>
          <p>
            Tarjeta que integra una imagen o video en la parte superior o
            lateral.
          </p>
        </a>
      </div>
    </main>

    <footer id="main-footer"></footer>
  </body>
</html>
