<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Módulo 08: Tablas</title>

    <link rel="stylesheet" href="/CSS/main.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />
  </head>
  <body>
    <header id="main-header">
      <h1>
        <a href="/index.html" style="text-decoration: none; color: white"
          >Web UI Kit</a
        >
      </h1>
      <nav>
        <a href="/index.html">Volver a Inicio</a>
      </nav>
    </header>

    <main id="main-content">
      <section class="hero-section">
        <h2>Módulo 08: Tablas de Datos</h2>
        <p>
          Estructuras esenciales para la organización y presentación de grandes
          conjuntos de datos de manera clara y legible.
        </p>
      </section>

      <div class="grid-container">
        <a href="table-01-base/index.html" class="category-card">
          <h4>01. Tabla Base</h4>
          <p>Estructura fundamental con espaciado y legibilidad optimizados.</p>
        </a>

        <a href="table-02-advanced/index.html" class="category-card">
          <h4>02. Tabla Avanzada (Zebra y Hover)</h4>
          <p>
            Tabla con filas alternas para mejor rastreo visual y efecto al pasar
            el ratón.
          </p>
        </a>
      </div>
    </main>

    <footer id="main-footer"></footer>
  </body>
</html>
