<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Módulo 13: Tipografía</title>

    <link rel="stylesheet" href="/CSS/main.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />
  </head>
  <body>
    <header id="main-header">
      <h1>
        <a href="/index.html" style="text-decoration: none; color: white"
          >Web UI Kit</a
        >
      </h1>
      <nav>
        <a href="/src/components/index.html">Volver a Componentes</a>
      </nav>
    </header>

    <main id="main-content">
      <section class="hero-section">
        <h2>Módulo 13: Tipografía</h2>
        <p>
          Define la jerarquía visual de todos los elementos de texto (títulos y
          párrafos) y establece las utilidades de texto esenciales.
        </p>
      </section>

      <div class="grid-container">
        
        <a href="typography-01-base/index.html" class="category-card">
          <h4>01. Jerarquía Base</h4>
          <p>Estilos por defecto para H1, H2, H3, H4, H5, H6 y párrafos.</p>
        </a>

        <a href="typography-02-utils/index.html" class="category-card">
          <h4>02. Utilidades de Texto</h4>
          <p>Clases para la alineación (`.text-center`), peso y transformación.</p>
        </a>
        
      </div>
    </main>

    <footer id="main-footer"></footer>
  </body>
</html>