<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>01. Componentes: Navegación</title>

    <link rel="stylesheet" href="/CSS/main.css" />
  </head>
  <body>
    <header id="main-header">
      <h1>
        <a href="" style="text-decoration: none; color: white">Web UI Kit</a>
      </h1>
      <nav>
        <a href="/index.html">Volver al Dashboard</a>
      </nav>
    </header>

    <main id="main-content">
      <h2>Componentes: 01. Navegación</h2>
      <p>
        Explora diferentes patrones de menús, barras de navegación y elementos
        de anclaje, diseñados para ser totalmente responsivos.
      </p>

      <nav id="sidebar">
        <h3>Ejemplos</h3>
        <ul>
          <li><a href="nav-01/index.html">Nav 01: Barra Simple (Flex)</a></li>
        </ul>
        <ul>
          <li><a href="nav-02/index.html">Nav 01: Barra han (Flex)</a></li>
        </ul>
      </nav>

      <div id="component-preview-area">
        <p>
          Selecciona un ejemplo en la barra lateral para ver su código y vista
          previa.
        </p>
      </div>
    </main>

    <footer id="main-footer">
      <p>© 2025 Web UI Component Kit. Desarrollado con Front-end Puro.</p>
    </footer>

    <script src="/JS/main.js"></script>
  </body>
</html>
